.grid_header_calendar{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 20px;
}
.btn-edit-calendar{
  border: 0px;
  padding: 10px 15px 10px 17px;
  border-radius: 10px;
  background-color: #DDDDDD;
  transition: 0.2s all;
}
.buttons-right-calendar{
  display: flex;
}
.btn-edit-calendar:hover{
  background-color: #E8E8E8;
}
.buttons-right-calendar .btn-primary{
  width: auto;
  padding: 10px 15px;
  margin-right: 5px;
}
.buttons-right-calendar .btn-primary i{
  font-size: 12.8px;
  margin-left: 5px;
}
.calendar_month_year{
  font-weight: bold;
  font-size: 20px;
  margin-left: -30px;
}
.button-arrow-calendar{
  border: 0px;
  padding: 12px 30px 12px 30px;
  background: #DDDDDD;
  border-radius: 10px;
  margin-right: 5px;
  transition: 0.2s all;
}
.buttons-left-calendar button:hover{
  background-color: #E8E8E8;
}
.buttons-left-calendar{
  display: flex;
}
.day__marker{
  border: 0px;
  padding: 15px 30px 15px 30px;
  background: #FF5100;
  border-radius: 10px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12.8px;
}

.gt-bg,
.gt-bgevent-skeleton,
.gt-highlight-skeleton,
.gt-mirror-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.gt-bg {
  bottom: 0;
}
.gt-bg table {
  height: 100%;
}
.gt table {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
}
.gt th {
  text-align: center;
}
.gt td,
.gt th {

  padding: 0;
  vertical-align: top;
}
.gt .gt-head th {
  vertical-align: middle;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #949494;
  background-color: transparent;
  border: 0px!important;
}
.gt-widget-header{
  border: 0px!important;
}

.gt-row {
  position: relative;
}
.gt-row .gt-bg {
  z-index: 2;
}

.gt-row .gt-content-skeleton {
  padding-bottom: 2px;
}
.gt-row .gt-mirror-skeleton {
  z-index: 5;
}
.gt-day-number{
  position: relative;
  z-index: 200;
}

.gt .gt-row .gt-content-skeleton table,
.gt .gt-row .gt-content-skeleton td,
.gt .gt-row .gt-mirror-skeleton td {
  background: none;
  border-color: rgba(0, 0, 0, 0);
}

.gt-scroller {
  -webkit-overflow-scrolling: touch;
  overflow: hidden !important;
}

.gt-event {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1.25;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 20px;
  cursor: pointer;
  background-color: #F1F1F1;
  font-weight: bold;
  min-height: 45px;
}

.gt-event::before{
  content: '';
  position: absolute;
  background: #000000;
  border-radius: 2.5px;
  height: calc(100% - 10px);
  width: 5px;
  left: 5px;
  top: 5px;
}

.gt-day-top.gt-other-month {
  opacity: 0.3;
}
.gt-dayGrid-view .gt-day-number,
.gt-dayGrid-view .gt-week-number {
  padding: 0.5rem;
}
.gt-content-col,
.gt-event-container {
  position: relative;
  z-index: 100;
  padding: 0.5rem !important;
}
.gt-day-top{
  text-align: right;
}
.gt-day{
  border: solid 1px #DDDDDD;
  position: relative;
  background-color: transparent;
  transition: 0.2s all;
}
.gt-day.selected{
  border: 0px;
  -webkit-box-shadow: inset 0px 0px 0px 1px #FF5100; 
box-shadow: inset 0px 0px 0px 1px #FF5100;
}
.gt-widget-content{
  background-color: #ffffff;
}
.gt-view-container{
  margin-bottom: 60px;
}
.gt-day:hover{
  background-color: #fafafa;
  cursor: pointer;
}
.gt-day-number.active{
  background: transparent;
}
.gt-day-number-movil{
  opacity: 0;
}

@media (max-width: 991px) {
  .gt-view-container{
    margin-bottom: 30px;
  }
  .grid_header_calendar{
    margin-top: 0px;
  }
  .calendar_content{
    padding-top: 30px;
  }
  .gt-content-skeleton tbody{
    display: none;
  }
  .gt-widget-content{
    background-color: transparent;
    height: 50px;
    min-height: 50px!important;
  }
  .gt-day-top{
    transform: translateY(14px);
    text-align: center;
  }
  .gt-day-number{
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .gt-day:hover{
    background-color: transparent;
    cursor: pointer;
  }
  .gt-day.selected{
    border: 0px;
    box-shadow: none;
  }
  .gt-day.selected::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #FF5100;
    border-radius: 10px;
     }

  .gt-day{
    border: 0px;
    position: relative;
  }
  .gt-day.selected .gt-day-number-movil{
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 18px;
    height: 21px;
    font-weight: bold;
  }
  .buttons-right-calendar .btn-primary span{
    display: none;
  }
  .buttons-right-calendar .btn-primary{
    width: auto;
    padding: 10px 18px;
  }
  .grid_header_calendar .day__marker{
    display: none;
  }
  .button-arrow-calendar{
    padding: 13px 15px 10px 15px;
    margin-right: 0px;
  }
  .k-movil-header__content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .k-movil-header__content .day__marker{
    background-color: transparent;
    padding-left: 0px;
  }
  .k-movil-header__content .buttons-right-calendar i{
    margin-left: 0px;
  }
  .calendar_month_year{
    margin-top: 10px;
    margin-left: 0px;
  }
 
}




